<h1>This is App Component</h1>

{{ name }}

<button [disabled]="!enabled" (click)="clicked()">Click Me</button>

<input type="text" [(ngModel)]="name" />
<!-- <span *ngIf="enabled then conditiontrue else conditionfalse"></span>
<ng-template #conditiontrue>
  <div>
    This is True Condition
  </div>
</ng-template>
<ng-template #conditionfalse>
  <div>
    This is False Condition
  </div>
</ng-template>


<div *ngIf="enabled">
  This will be shown only if enabled is true
</div>
<div> -->
  <select>
    <option *ngFor="let month of months;let i = index;" value="{{ i + 1 }}">{{month}}</option>
  </select>
<!-- </div> -->

<input type="number" [(ngModel)]="choice" />
{{ choice }}

<div [ngSwitch]="choice">
  <div *ngSwitchCase="1">Choice 1</div>
  <div *ngSwitchCase="2">Choice 2</div>
  <div *ngSwitchCase="3">Choice 3</div>
  <div *ngSwitchDefault>Choice Default</div>
</div>
